* {
  border-radius: 0;
}

.sidebar__menu li {
  border-bottom: none;
}

.sidebar__menu li 
  a[href="/inside/library"],
  a[href="/inside/feedback"],
  a[href="/inside/publications"],
  a[href="/inside/students/subjects"],
  a[href*="lms.guap.ru"],
  a[href="/help"]
  {
    display: none;
  }


div[class="profile-picture"] {
  display: none;
  border-bottom: none;
}

.profile_image_wrap::after {
  border: none;
}

._active {
  border-right: 4px solid var(--suai-theme-color);
  border-top-right-radius: var(--border-right-radius);
  border-bottom-right-radius: var(--border-right-radius);
  --border-right-radius: 3px;
}

